$primary: #fe218b;
$secondary: #fed700;
$info: #21b0fe;

.shine-card {
  position: relative;
  overflow: hidden;
}

.shine-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
  animation: shine 4s infinite;
}